<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link icon-only"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></div>
		<div class="center">Amigos</div>
		<div class="right"><a href="#" class="link icon-only"><i class="fa fa-home" aria-hidden="true"></i></a></div>
	</div>
</div>
<div class="pages navbar-through no-toolbar">
	<div data-page="Locais" class="page">
		<div class="page-content bg-image" style="padding-bottom:0px;">
			<div class="content-block text-center">
				<p>Adicione mais amigos para deixar<br>sua rede maior e ganhar pontos :)</p>
			</div>
			<div class="list-block" style="height:75vh; overflow:hidden; overflow-y:auto;">
				<ul>
					<li class="item-content">
						<div class="item-media"><div class="item-media"><img src="img/dummy.png" width="36"></div></div>
						<div class="item-inner">
							<div class="item-title">Alice santos</div>
							<div class="item-after"><i class="fa fa-half-increment-x fa-plus-circle" aria-hidden="true"></i></div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-media"><div class="item-media"><img src="img/dummy.png" width="36"></div></div>
						<div class="item-inner">
							<div class="item-title">Alice santos</div>
							<div class="item-after"><i class="fa fa-half-increment-x fa-plus-circle" aria-hidden="true"></i></div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-media"><div class="item-media"><img src="img/dummy.png" width="36"></div></div>
						<div class="item-inner">
							<div class="item-title">Alice santos</div>
							<div class="item-after"><i class="fa fa-half-increment-x fa-plus-circle" aria-hidden="true"></i></div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-media"><div class="item-media"><img src="img/dummy.png" width="36"></div></div>
						<div class="item-inner">
							<div class="item-title">Alice santos</div>
							<div class="item-after"><i class="fa fa-half-increment-x fa-plus-circle" aria-hidden="true"></i></div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-media"><div class="item-media"><img src="img/dummy.png" width="36"></div></div>
						<div class="item-inner">
							<div class="item-title">Alice santos</div>
							<div class="item-after"><i class="fa fa-half-increment-x fa-plus-circle" aria-hidden="true"></i></div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-media"><div class="item-media"><img src="img/dummy.png" width="36"></div></div>
						<div class="item-inner">
							<div class="item-title">Alice santos</div>
							<div class="item-after"><i class="fa fa-half-increment-x fa-plus-circle" aria-hidden="true"></i></div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-media"><div class="item-media"><img src="img/dummy.png" width="36"></div></div>
						<div class="item-inner">
							<div class="item-title">Alice santos</div>
							<div class="item-after"><i class="fa fa-half-increment-x fa-plus-circle" aria-hidden="true"></i></div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-media"><div class="item-media"><img src="img/dummy.png" width="36"></div></div>
						<div class="item-inner">
							<div class="item-title">Alice santos</div>
							<div class="item-after"><i class="fa fa-half-increment-x fa-plus-circle" aria-hidden="true"></i></div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-media"><div class="item-media"><img src="img/dummy.png" width="36"></div></div>
						<div class="item-inner">
							<div class="item-title">Alice santos</div>
							<div class="item-after"><i class="fa fa-half-increment-x fa-plus-circle" aria-hidden="true"></i></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

