<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link icon-only"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></div>
		<div class="center">Cadastre-se</div>
	</div>
</div>
<div class="pages navbar-through no-toolbar">
	<div data-page="CadastroHome" class="page">
		<div class="page-content bg-image">

			<div>
				<img class="login-image" src="img/logo_white.png" />
			</div>
			<div class="content-block text-center">
				<p>Saiba o que esperar da estrada dias ou<br>semanas antes da sua viagem</p>
			</div>
			<form id="login-form">
				<div class="list-block">
					<ul>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title label"><i class="fa fa-envelope" aria-hidden="true"></i></div>
								<div class="item-input">
									<input type="email" id="login_email" name="login_email" placeholder="Email">
								</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title label"><i class="fa fa-lock" aria-hidden="true"></i></div>
								<div class="item-input">
									<input type="password" id="login_password" name="login_password" placeholder="Senha">
								</div>
							</div>
						</li>
					</ul>
				</div>
			</form>
			<div class="content-block">
				<div class="row">
					<div class="col-33"></div>
					<div class="col-33"></div>
					<div class="col-33">
						<button class="button button-big" id="btnLogin"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
			<div class="content-block text-center">
				<button class="button button-big" id="btnFacebook"><i style="margin-right:10px;" class="fa fa-facebook" aria-hidden="true"></i> Conectar com facebook</button>
			</div>
			<div class="content-block text-center">
				<a class="whiteLink" id="btnRegisterLink" href="views/Cadastro.html">Conectar com email</a>
			</div>


		</div>
	</div>
</div>
