<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link icon-only"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></div>
		<div class="center">Planejando sua viagem</div>
		<div class="right"><a href="#" class="link icon-only"><i class="fa fa-home" aria-hidden="true"></i></a></div>
	</div>
</div>
<div class="pages navbar-through no-toolbar">
	<div data-page="PlanejamentoHorario" class="page">
		<div class="searchbar-overlay"></div>
		<div class="page-content bg-image">
			<div class="content-block text-center">
				<p style="margin-top:60px">Agora a duração da sua viagem... Aqui selecionamos alguns horários pra você...</p>
			</div>
			<div class="content-block text-center">
				<p style="margin-top:60px">
					1h17min de viagem<br>
					<i class="fa fa-clock-o" aria-hidden="true"></i>
					<div class="vertical-line"></div>
				</p>
			</div>
			<div class="content-block" style="margin-bottom:30px;">
				<div class="row">
					<div class="col-100">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><div class="bars" style="height:20px; margin-top:180px;"></div></div>
								<div class="swiper-slide"><div class="bars" style="height:10px; margin-top:190px;"></div></div>
								<div class="swiper-slide"><div class="bars" style="height:60px; margin-top:140px;"></div></div>
								<div class="swiper-slide"><div class="bars" style="height:60px; margin-top:140px;"></div></div>
								<div class="swiper-slide"><div class="bars" style="height:130px; margin-top:70px;"></div></div>
								<div class="swiper-slide"><div class="bars" style="height:110px; margin-top:90px;"></div></div>
								<div class="swiper-slide"><div class="bars" style="height:140px; margin-top:60px;"></div></div>
								<div class="swiper-slide"><div class="bars" style="height:60px; margin-top:140px;"></div></div>
								<div class="swiper-slide"><div class="bars" style="height:80px; margin-top:120px;"></div></div>
								<div class="swiper-slide"><div class="bars" style="height:90px; margin-top:110px;"></div></div>
								<div class="swiper-slide"><div class="bars" style="height:30px; margin-top:170px;"></div></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="content-block">
				<div class="row">
					<div class="col-25"></div>
					<div class="col-50">
						<a class="whiteLink" id="btnRegisterLink" href="views/Home.html" style="padding-top:16px; text-align:center; display:block;">Agendar</a>
					</div>
					<div class="col-25">
						<button class="button button-big" id="btnLogin"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
