<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link icon-only"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></div>
		<div class="center">Sobre</div>
		<div class="right"><a href="#" class="link icon-only"><i class="fa fa-home" aria-hidden="true"></i></a></div>
	</div>
</div>
<div class="pages navbar-through no-toolbar">
	<div data-page="Sobre" class="page">
		<div class="page-content bg-grad-vertical" style="padding-bottom:0px;">

			<div class="text-center">
				<img class="sobre-image" src="img/logo_white.png" />
			</div>

			<div class="content-block text-center">
				<b>Planejando o futuro</b>
			</div>
			<div class="content-block text-center">
				Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
				Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
			</div>
			<div class="content-block">
				<b><i class="fa fa-home" aria-hidden="true"></i> Ver termos de uso</b>
			</div>
			<div class="content-block">
				<b><i class="fa fa-home" aria-hidden="true"></i> Ver política de privacidade</b>
			</div>

		</div>
	</div>
</div>
